.btn {
	margin-top: 36px;
	font-size: 20px;
	color: $main-color;
	border: 1px solid #fff;
	background: #fff;
	padding: 13px 26px;
	transition: 0.2s;
	&:hover {
		background: $main-color;
		color: #fff;
		transform: scale(1.1);
	}
	&_slider {
		margin-top: 0;
		font-weight: 500;
		font-size: 12px;
		color: #FFFFFF;
		background: $main-color;
		&:hover {
			background: #fff;
			color: $main-color;
			border: 1px solid $main-color;
			transform: scale(1.1);
		}
	}
	&_submit {
		margin-top: 0;
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
		padding: 15px 30px;
		background: $main-color;
		&:hover {
			background: #fff;
			color: $main-color;
			border: 1px solid $main-color;
		}
	}
	&_footer {
		margin-top: 0;
		width: 28px;
		height: 28px;
		border: none;
		padding: 6px;
		border-radius: 50%;
		background: #FFB624;
		display: flex;
		justify-content: center;
		align-items: center;
	}	
}