.btn {
    margin-top: 36px;
    font-size: 20px;
    color: $main-color;
    border: 1px solid #fff;
    background: #fff;
    padding: 13px 26px;
    transition: 0.2s;
    &:hover {
        background: $main-color;
        color: #fff;
    }
}