.furniture {
	padding: 140px 0;
}



.tabs__nav {
    display: flex;
	justify-content: space-between;
	width: 720px;
	margin: 0 auto;
	margin-top: 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	color: #919090;
}

.tabs__nav-btn {
	background-color: inherit;
	border: none;
	cursor: pointer;
	padding: 14px 16px;
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	color: #919090;
	&:focus {
		outline: none;
	}
}

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
	color: #154444;
}

.tabs__nav-btn.active {
	color: #154444;
	font-weight: 500;
	position: relative;
	&:before {
		content: "";
		width: 57px;
		height: 2px;
		position: absolute;
		background: #154444;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.tabs__content {
    margin-top: 80px;
	&-wrapper {
		display: flex;
		justify-content: space-between;
	}
	&-img {
		padding: 12px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 190px;
			height: 85px;
			background: #154444;
			z-index: -1;
			top: 0;
			left: 0;
		}
		&:after {
			content: "";
			position: absolute;
			width: 190px;
			height: 85px;
			background: #154444;
			z-index: -1;
			bottom: 0;
			right: 0;
		}
	}
	&-content {
		width: 474px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
		&-item {
			width: 222px;
			height: 90px;
			border: 1.5px solid #D9DCE5;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-weight: 500;
			font-size: 16px;
			color: #808080;
			&:hover {
				background: #154444;
				color: #fff;
				stroke: #fff;
				fill: #fff;
			}
			span {
				margin-top: 8px;
				display: block;
			}
			a {
				color: #808080;
				&:hover {
					color: #fff;
				}
			}
		}
	}
  }


.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}