.furniture {
	padding: 140px 0;
}

/* Style the tab */
.tab {
	overflow: hidden;
	display: flex;
    justify-content: space-between;
	width: 720px;
	margin: 0 auto;
	margin-top: 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	color: #919090;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	// transition: 0.1s;
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	color: #919090;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	color: #154444;

  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	border-bottom: 2px solid #154444;
	color: #154444;
	font-weight: 500;
  }
  
  /* Style the tab content */
  .tabcontent {
	margin-top: 80px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__img {
		// border: 12px solid #154444;
		padding: 12px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 190px;
			height: 85px;
			background: #154444;
			z-index: -1;
			top: 0;
			left: 0;
		}
		&:after {
			content: "";
			position: absolute;
			width: 190px;
			height: 85px;
			background: #154444;
			z-index: -1;
			bottom: 0;
			right: 0;
		}
	}
	&__content {
		width: 474px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
		&-item {
			width: 222px;
			height: 90px;
			border: 1.5px solid #D9DCE5;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-weight: 500;
			font-size: 16px;
			color: #808080;
			&:hover {
				background: #154444;
				color: #fff;
				stroke: #fff;
				fill: #fff;
			}
			span {
				margin-top: 8px;
				display: block;
			}
			a {
				color: #808080;
				&:hover {
					color: #fff;
				}
			}
		}
	}
  }

  .tabcontent {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  

