/* Slideshow container */
.slideshow-container {
	margin-top: 80px;
	position: relative;
	display: flex;
	justify-content: space-between;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
	justify-content: space-between;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: -100px;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 50%;
	user-select: none;
	right: 56px;
	border: 1px solid #F4F6F6;

  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 50%;
  }
  


  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: #F4F6F6;
	border: 1px solid #666666;
  }
  

  

  

  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

.slider {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	&__item {
		width: 380px;
		// height: 382px;
		background: #fff;
		-webkit-box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 13px 26px rgba(0, 0, 0, 0.07);
		&-descr {
			padding: 30px 24px 24px 24px;
		}
		&_top {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-heading {
			width: 170px;
			font-weight: 500;
			font-size: 20px;
			color: #242424;
		}
		&-icons {
			display: flex;
			width: 60px;
			justify-content: space-between;
			div {
				width: 26px;
				height: 26px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				background: #ECF4FF;
				border-radius: 50%;
				&:hover {
					background: #EF5423;
					stroke: #fff;
				}
			}
		}
		&_bottom {
			margin-top: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-price {
			font-weight: 500;
			font-size: 24px;
			color: #154444;
		}
	}
}